@import "foundation";
@import "main";

//iphone
@media #{$small-only} {

  body {
    font-size: 70%;
  }

  .bg-1 {
    width: 100%;
  }

  .row {
    height: auto;
  }

  .header-text {
    font-size: 60%;
  }

  #in-practice .row {
    height: 100%;
  }

	nav ul li,
	nav ul li a {
		width: 100%;
	}

  .header-text h1 {
  	margin-top: 2*($base-margin);
    padding: 0.5*($base-padding);
  }

  .logo-wrapper img {
  	width: 40%;
    padding-top: 0.5*($base-padding);
  }

  .button-wrapper a {
    font-size: 140%;
    margin: 0 0.5*($base-margin);
  }

  .icon {
  	margin: 0 auto;
  }

  #demos .demos-text {
    padding: $base-padding $base-padding 0;
    h2 {
      margin: 0;
    }
  }

  #resources p {
  	margin: 10px auto;
  }

  #in-practice .row {
	  overflow: scroll;
	}

  #products {
    padding: $base-padding;
  }

  #rtmdx-left,
  #rtmdx-right {
    padding: 0.5*($base-padding) 0 0;
    font-size: $larger-base-font;
  }
  
  .more-training {
    font-size: $larger-base-font;
  }

  #rtmdx-left {
    border: 0;
    border-bottom: 1px solid $black;
    padding-bottom: $base-padding;
  }

} 

@media #{$small-up} {

  #demos iframe {
  	margin-top: $base-margin;
    padding-bottom: $base-padding;
  }

  #map-canvas {
		height: 200px;
		margin-top: 20px;
	}

  .supporters-wrapper {
    max-width: 100%;
  }
}

@media #{$iphone-six-up} {
  body {
    font-size: 100%;
  }

  .header-text {
    padding-top: $base-padding;
  }
}

@media #{$medium-up} { 

  $full-height: 90vh;

  section {
    height: $full-height;
    max-height: $full-height;
  }

  .about-wrapper {
  	border-right: 2px solid $white;
  	padding-right: $base-padding;
    margin-top: $base-margin;
  }

  .logo-wrapper {
    padding: $base-padding;
  }

  .hex-wrapper,
  #contact {
    height: $full-height;
  }

  .hex-wrapper-text {
  	padding-top: 200px;
    height: $full-height;
  }

  .resources p {
  	font-size: 2em;
  }

  iframe {
  	min-height: 45%;
  }

	.publications,
	.manuals,
	.rtmdx {
		padding: 10px auto;
		border-right: 2px solid $black;
	}

	.rtmdx {
	  border: none;
	}

  #products {
    height: auto;
  }

}

@media #{$large-only} {
  body {
    font-size: 110%;
  }

  iframe {
  	min-height: 60%;
  	max-width: 700px;
  	margin-top: 90px;
  }

  .about-wrapper {
  	margin: 80px $base-margin;
    padding: 0 $base-padding;
  }

  .logo-wrapper {
    padding: 80px 0;
  }

  .rtm-users {
		width: 10%;
	}

	.contact-right #map-canvas {
		height: 400px !important;
  	margin-top: 60px !important;
	}

  aside {
    top: 100px;
    position: fixed;
  }

  #gst-header,
  #training {
    font-size: 80%;
  }

  #products {
    width: 80vw;
  }

}