@import "compass";
@import url("http://fonts.googleapis.com/css?family=Raleway:400,300,500,700");

// Font weights
$light: 100;
$regular: 400;
$semi-bold: 500;
$bold: 600;

// Base Font
$base-font-family: "Raleway", sans-serif;
$base-font-weight: $regular;
$base-font-size: 18px;
$base-line-height: 1.4;

// Headings
$title-font: 90px;
$header-font-weight: $bold;
$main-header-font-size: 32px;
$subheader-font-size: 50px;


.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $base-font-family;
}

h2 {
	font-size: $main-header-font-size;
}


@import "modules/all";
@import "modules/colors";
@import "rgbapng";