// Sections
$full-width: 100%;
$desktop-height: 600px;
$two-thirds: 67%;
$one-third: 33%;
$half-width: 50%;

// Base spacing
$base-padding: 40px;
$base-margin: 40px;

// Icon Images
$background-sizing: 100px 100px;

.third-page {
	width: 33%;
	display: inline-block;
	text-align: center;
}