@import "grids";

$button-width: 28%;
$button-spacing: 20px;

.button-wrapper {
  margin: $base-margin auto;
}

.get-started,
.download {
  border: 1px solid $white;
  color: $white;
  width: $button-width;
  padding: $button-spacing;
  display: inline-block;
  margin: 0 $base-margin;
  text-decoration: none;
  max-width: 200px;
  @include transition(background-color, 0.3s);
  &:hover,
  &:focus {
     background-color: rgba(255, 255, 255, 0.3);
  }
}
.red-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: $black;
  // font-size: $base-font-size;
  text-align: center;
  border: 2px solid red;
  padding: $button-spacing;
  // width: $button-width;
  margin: auto;
  text-decoration: none;
  display: block;
  // max-width: 200px;
  @include transition(all, 0.3s);
  z-index: 101;
  &:hover,
  &:focus {
    color: #333333;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.demo-button {
  width: $button-width;
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  &:hover,
  &:focus {
    color: $dark-grey;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
