nav {
  height: 10vh !important;
  color:$light-grey;
  background-color:  $dark-grey;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 105;
  ul {
    @include lists;
    background-color: $dark-grey;
    li {
      display: inline-block;
      a,
      #mobile-menu {
        text-decoration: none;
        color: $light-grey;
        padding: 15px 25px;
        font-size: 1em;
        display: inline-block;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        &:hover,
        &:focus,
        .active {
          background-color: $red; 
        }
      }
    }
  }
}

#mobile-menu {
  display: none;
  font-size: $main-header-font-size;
  min-height: 10vh;
  border-bottom: 5px solid red;
}
