@import url("https://fonts.googleapis.com/css?family=Raleway:400,300,500,700");
.row {
  height: 100%;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 40em) {
  .small-only-text-left {
    text-align: left !important;
  }

  .small-only-text-right {
    text-align: right !important;
  }

  .small-only-text-center {
    text-align: center !important;
  }

  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  .small-text-left {
    text-align: left !important;
  }

  .small-text-right {
    text-align: right !important;
  }

  .small-text-center {
    text-align: center !important;
  }

  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .medium-only-text-left {
    text-align: left !important;
  }

  .medium-only-text-right {
    text-align: right !important;
  }

  .medium-only-text-center {
    text-align: center !important;
  }

  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) {
  .medium-text-left {
    text-align: left !important;
  }

  .medium-text-right {
    text-align: right !important;
  }

  .medium-text-center {
    text-align: center !important;
  }

  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .large-only-text-left {
    text-align: left !important;
  }

  .large-only-text-right {
    text-align: right !important;
  }

  .large-only-text-center {
    text-align: center !important;
  }

  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  .large-text-left {
    text-align: left !important;
  }

  .large-text-right {
    text-align: right !important;
  }

  .large-text-center {
    text-align: center !important;
  }

  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .xlarge-only-text-left {
    text-align: left !important;
  }

  .xlarge-only-text-right {
    text-align: right !important;
  }

  .xlarge-only-text-center {
    text-align: center !important;
  }

  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  .xlarge-text-left {
    text-align: left !important;
  }

  .xlarge-text-right {
    text-align: right !important;
  }

  .xlarge-text-center {
    text-align: center !important;
  }

  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  .xxlarge-only-text-right {
    text-align: right !important;
  }

  .xxlarge-only-text-center {
    text-align: center !important;
  }

  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  .xxlarge-text-left {
    text-align: left !important;
  }

  .xxlarge-text-right {
    text-align: right !important;
  }

  .xxlarge-text-center {
    text-align: center !important;
  }

  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

@media only screen and (max-width: 40em) {
  .small-only-text-left {
    text-align: left !important;
  }

  .small-only-text-right {
    text-align: right !important;
  }

  .small-only-text-center {
    text-align: center !important;
  }

  .small-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen {
  .small-text-left {
    text-align: left !important;
  }

  .small-text-right {
    text-align: right !important;
  }

  .small-text-center {
    text-align: center !important;
  }

  .small-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .medium-only-text-left {
    text-align: left !important;
  }

  .medium-only-text-right {
    text-align: right !important;
  }

  .medium-only-text-center {
    text-align: center !important;
  }

  .medium-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 40.063em) {
  .medium-text-left {
    text-align: left !important;
  }

  .medium-text-right {
    text-align: right !important;
  }

  .medium-text-center {
    text-align: center !important;
  }

  .medium-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
  .large-only-text-left {
    text-align: left !important;
  }

  .large-only-text-right {
    text-align: right !important;
  }

  .large-only-text-center {
    text-align: center !important;
  }

  .large-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 64.063em) {
  .large-text-left {
    text-align: left !important;
  }

  .large-text-right {
    text-align: right !important;
  }

  .large-text-center {
    text-align: center !important;
  }

  .large-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
  .xlarge-only-text-left {
    text-align: left !important;
  }

  .xlarge-only-text-right {
    text-align: right !important;
  }

  .xlarge-only-text-center {
    text-align: center !important;
  }

  .xlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 90.063em) {
  .xlarge-text-left {
    text-align: left !important;
  }

  .xlarge-text-right {
    text-align: right !important;
  }

  .xlarge-text-center {
    text-align: center !important;
  }

  .xlarge-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) and (max-width: 99999999em) {
  .xxlarge-only-text-left {
    text-align: left !important;
  }

  .xxlarge-only-text-right {
    text-align: right !important;
  }

  .xxlarge-only-text-center {
    text-align: center !important;
  }

  .xxlarge-only-text-justify {
    text-align: justify !important;
  }
}
@media only screen and (min-width: 120.063em) {
  .xxlarge-text-left {
    text-align: left !important;
  }

  .xxlarge-text-right {
    text-align: right !important;
  }

  .xxlarge-text-center {
    text-align: center !important;
  }

  .xxlarge-text-justify {
    text-align: justify !important;
  }
}
/* Foundation Visibility HTML Classes */
.show-for-small,
.show-for-small-only,
.show-for-medium-down,
.show-for-large-down,
.hide-for-medium,
.hide-for-medium-up,
.hide-for-medium-only,
.hide-for-large,
.hide-for-large-up,
.hide-for-large-only,
.hide-for-xlarge,
.hide-for-xlarge-up,
.hide-for-xlarge-only,
.hide-for-xxlarge-up,
.hide-for-xxlarge-only {
  display: inherit !important;
}

.hide-for-small,
.hide-for-small-only,
.hide-for-medium-down,
.show-for-medium,
.show-for-medium-up,
.show-for-medium-only,
.hide-for-large-down,
.show-for-large,
.show-for-large-up,
.show-for-large-only,
.show-for-xlarge,
.show-for-xlarge-up,
.show-for-xlarge-only,
.show-for-xxlarge-up,
.show-for-xxlarge-only {
  display: none !important;
}

/* Specific visibility for tables */
table.show-for-small, table.show-for-small-only, table.show-for-medium-down, table.show-for-large-down, table.hide-for-medium, table.hide-for-medium-up, table.hide-for-medium-only, table.hide-for-large, table.hide-for-large-up, table.hide-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
  display: table;
}

thead.show-for-small, thead.show-for-small-only, thead.show-for-medium-down, thead.show-for-large-down, thead.hide-for-medium, thead.hide-for-medium-up, thead.hide-for-medium-only, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
  display: table-header-group !important;
}

tbody.show-for-small, tbody.show-for-small-only, tbody.show-for-medium-down, tbody.show-for-large-down, tbody.hide-for-medium, tbody.hide-for-medium-up, tbody.hide-for-medium-only, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
  display: table-row-group !important;
}

tr.show-for-small, tr.show-for-small-only, tr.show-for-medium-down, tr.show-for-large-down, tr.hide-for-medium, tr.hide-for-medium-up, tr.hide-for-medium-only, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
  display: table-row !important;
}

td.show-for-small, td.show-for-small-only, td.show-for-medium-down, td.show-for-large-down, td.hide-for-medium, td.hide-for-medium-up, td.hide-for-large, td.hide-for-large-up, td.hide-for-xlarge, td.hide-for-xlarge-up, td.hide-for-xxlarge-up,
th.show-for-small,
th.show-for-small-only,
th.show-for-medium-down,
th.show-for-large-down,
th.hide-for-medium,
th.hide-for-medium-up,
th.hide-for-large,
th.hide-for-large-up,
th.hide-for-xlarge,
th.hide-for-xlarge-up,
th.hide-for-xxlarge-up {
  display: table-cell !important;
}

/* Medium Displays: 641px and up */
@media only screen and (min-width: 40.063em) {
  .hide-for-small,
  .hide-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-up,
  .show-for-medium-only,
  .hide-for-large,
  .hide-for-large-up,
  .hide-for-large-only,
  .hide-for-xlarge,
  .hide-for-xlarge-up,
  .hide-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: inherit !important;
  }

  .show-for-small,
  .show-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-up,
  .hide-for-medium-only,
  .hide-for-large-down,
  .show-for-large,
  .show-for-large-up,
  .show-for-large-only,
  .show-for-xlarge,
  .show-for-xlarge-up,
  .show-for-xlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: none !important;
  }

  /* Specific visibility for tables */
  table.hide-for-small, table.hide-for-small-only, table.show-for-medium, table.show-for-medium-down, table.show-for-medium-up, table.show-for-medium-only, table.hide-for-large, table.hide-for-large-up, table.hide-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
    display: table;
  }

  thead.hide-for-small, thead.hide-for-small-only, thead.show-for-medium, thead.show-for-medium-down, thead.show-for-medium-up, thead.show-for-medium-only, thead.hide-for-large, thead.hide-for-large-up, thead.hide-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
    display: table-header-group !important;
  }

  tbody.hide-for-small, tbody.hide-for-small-only, tbody.show-for-medium, tbody.show-for-medium-down, tbody.show-for-medium-up, tbody.show-for-medium-only, tbody.hide-for-large, tbody.hide-for-large-up, tbody.hide-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
    display: table-row-group !important;
  }

  tr.hide-for-small, tr.hide-for-small-only, tr.show-for-medium, tr.show-for-medium-down, tr.show-for-medium-up, tr.show-for-medium-only, tr.hide-for-large, tr.hide-for-large-up, tr.hide-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
    display: table-row !important;
  }

  td.hide-for-small, td.hide-for-small-only, td.show-for-medium, td.show-for-medium-down, td.show-for-medium-up, td.show-for-medium-only, td.hide-for-large, td.hide-for-large-up, td.hide-for-large-only, td.hide-for-xlarge, td.hide-for-xlarge-up, td.hide-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.show-for-medium,
  th.show-for-medium-down,
  th.show-for-medium-up,
  th.show-for-medium-only,
  th.hide-for-large,
  th.hide-for-large-up,
  th.hide-for-large-only,
  th.hide-for-xlarge,
  th.hide-for-xlarge-up,
  th.hide-for-xlarge-only,
  th.hide-for-xxlarge-up,
  th.hide-for-xxlarge-only {
    display: table-cell !important;
  }
}
/* Large Displays: 1024px and up */
@media only screen and (min-width: 64.063em) {
  .hide-for-small,
  .hide-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .show-for-large,
  .show-for-large-up,
  .show-for-large-only,
  .hide-for-xlarge,
  .hide-for-xlarge-up,
  .hide-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: inherit !important;
  }

  .show-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-only,
  .hide-for-large,
  .hide-for-large-up,
  .hide-for-large-only,
  .show-for-xlarge,
  .show-for-xlarge-up,
  .show-for-xlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: none !important;
  }

  /* Specific visibility for tables */
  table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large, table.show-for-large-up, table.show-for-large-only, table.hide-for-xlarge, table.hide-for-xlarge-up, table.hide-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
    display: table;
  }

  thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large, thead.show-for-large-up, thead.show-for-large-only, thead.hide-for-xlarge, thead.hide-for-xlarge-up, thead.hide-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
    display: table-header-group !important;
  }

  tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large, tbody.show-for-large-up, tbody.show-for-large-only, tbody.hide-for-xlarge, tbody.hide-for-xlarge-up, tbody.hide-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
    display: table-row-group !important;
  }

  tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large, tr.show-for-large-up, tr.show-for-large-only, tr.hide-for-xlarge, tr.hide-for-xlarge-up, tr.hide-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
    display: table-row !important;
  }

  td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large, td.show-for-large-up, td.show-for-large-only, td.hide-for-xlarge, td.hide-for-xlarge-up, td.hide-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.hide-for-medium,
  th.hide-for-medium-down,
  th.hide-for-medium-only,
  th.show-for-medium-up,
  th.show-for-large,
  th.show-for-large-up,
  th.show-for-large-only,
  th.hide-for-xlarge,
  th.hide-for-xlarge-up,
  th.hide-for-xlarge-only,
  th.hide-for-xxlarge-up,
  th.hide-for-xxlarge-only {
    display: table-cell !important;
  }
}
/* X-Large Displays: 1441 and up */
@media only screen and (min-width: 90.063em) {
  .hide-for-small,
  .hide-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .show-for-large-up,
  .hide-for-large-only,
  .show-for-xlarge,
  .show-for-xlarge-up,
  .show-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: inherit !important;
  }

  .show-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-only,
  .show-for-large,
  .show-for-large-only,
  .show-for-large-down,
  .hide-for-xlarge,
  .hide-for-xlarge-up,
  .hide-for-xlarge-only,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: none !important;
  }

  /* Specific visibility for tables */
  table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large-up, table.hide-for-large-only, table.show-for-xlarge, table.show-for-xlarge-up, table.show-for-xlarge-only, table.hide-for-xxlarge-up, table.hide-for-xxlarge-only {
    display: table;
  }

  thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large-up, thead.hide-for-large-only, thead.show-for-xlarge, thead.show-for-xlarge-up, thead.show-for-xlarge-only, thead.hide-for-xxlarge-up, thead.hide-for-xxlarge-only {
    display: table-header-group !important;
  }

  tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large-up, tbody.hide-for-large-only, tbody.show-for-xlarge, tbody.show-for-xlarge-up, tbody.show-for-xlarge-only, tbody.hide-for-xxlarge-up, tbody.hide-for-xxlarge-only {
    display: table-row-group !important;
  }

  tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large-up, tr.hide-for-large-only, tr.show-for-xlarge, tr.show-for-xlarge-up, tr.show-for-xlarge-only, tr.hide-for-xxlarge-up, tr.hide-for-xxlarge-only {
    display: table-row !important;
  }

  td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large-up, td.hide-for-large-only, td.show-for-xlarge, td.show-for-xlarge-up, td.show-for-xlarge-only, td.hide-for-xxlarge-up, td.hide-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.hide-for-medium,
  th.hide-for-medium-down,
  th.hide-for-medium-only,
  th.show-for-medium-up,
  th.show-for-large-up,
  th.hide-for-large-only,
  th.show-for-xlarge,
  th.show-for-xlarge-up,
  th.show-for-xlarge-only,
  th.hide-for-xxlarge-up,
  th.hide-for-xxlarge-only {
    display: table-cell !important;
  }
}
/* XX-Large Displays: 1920 and up */
@media only screen and (min-width: 120.063em) {
  .hide-for-small,
  .hide-for-small-only,
  .hide-for-medium,
  .hide-for-medium-down,
  .hide-for-medium-only,
  .show-for-medium-up,
  .show-for-large-up,
  .hide-for-large-only,
  .hide-for-xlarge-only,
  .show-for-xlarge-up,
  .show-for-xxlarge-up,
  .show-for-xxlarge-only {
    display: inherit !important;
  }

  .show-for-small-only,
  .show-for-medium,
  .show-for-medium-down,
  .show-for-medium-only,
  .show-for-large,
  .show-for-large-only,
  .show-for-large-down,
  .hide-for-xlarge,
  .show-for-xlarge-only,
  .hide-for-xxlarge-up,
  .hide-for-xxlarge-only {
    display: none !important;
  }

  /* Specific visibility for tables */
  table.hide-for-small, table.hide-for-small-only, table.hide-for-medium, table.hide-for-medium-down, table.hide-for-medium-only, table.show-for-medium-up, table.show-for-large-up, table.hide-for-xlarge-only, table.show-for-xlarge-up, table.show-for-xxlarge-up, table.show-for-xxlarge-only {
    display: table;
  }

  thead.hide-for-small, thead.hide-for-small-only, thead.hide-for-medium, thead.hide-for-medium-down, thead.hide-for-medium-only, thead.show-for-medium-up, thead.show-for-large-up, thead.hide-for-xlarge-only, thead.show-for-xlarge-up, thead.show-for-xxlarge-up, thead.show-for-xxlarge-only {
    display: table-header-group !important;
  }

  tbody.hide-for-small, tbody.hide-for-small-only, tbody.hide-for-medium, tbody.hide-for-medium-down, tbody.hide-for-medium-only, tbody.show-for-medium-up, tbody.show-for-large-up, tbody.hide-for-xlarge-only, tbody.show-for-xlarge-up, tbody.show-for-xxlarge-up, tbody.show-for-xxlarge-only {
    display: table-row-group !important;
  }

  tr.hide-for-small, tr.hide-for-small-only, tr.hide-for-medium, tr.hide-for-medium-down, tr.hide-for-medium-only, tr.show-for-medium-up, tr.show-for-large-up, tr.hide-for-xlarge-only, tr.show-for-xlarge-up, tr.show-for-xxlarge-up, tr.show-for-xxlarge-only {
    display: table-row !important;
  }

  td.hide-for-small, td.hide-for-small-only, td.hide-for-medium, td.hide-for-medium-down, td.hide-for-medium-only, td.show-for-medium-up, td.show-for-large-up, td.hide-for-xlarge-only, td.show-for-xlarge-up, td.show-for-xxlarge-up, td.show-for-xxlarge-only,
  th.hide-for-small,
  th.hide-for-small-only,
  th.hide-for-medium,
  th.hide-for-medium-down,
  th.hide-for-medium-only,
  th.show-for-medium-up,
  th.show-for-large-up,
  th.hide-for-xlarge-only,
  th.show-for-xlarge-up,
  th.show-for-xxlarge-up,
  th.show-for-xxlarge-only {
    display: table-cell !important;
  }
}
/* Orientation targeting */
.show-for-landscape,
.hide-for-portrait {
  display: inherit !important;
}

.hide-for-landscape,
.show-for-portrait {
  display: none !important;
}

/* Specific visibility for tables */
table.hide-for-landscape, table.show-for-portrait {
  display: table;
}

thead.hide-for-landscape, thead.show-for-portrait {
  display: table-header-group !important;
}

tbody.hide-for-landscape, tbody.show-for-portrait {
  display: table-row-group !important;
}

tr.hide-for-landscape, tr.show-for-portrait {
  display: table-row !important;
}

td.hide-for-landscape, td.show-for-portrait,
th.hide-for-landscape,
th.show-for-portrait {
  display: table-cell !important;
}

@media only screen and (orientation: landscape) {
  .show-for-landscape,
  .hide-for-portrait {
    display: inherit !important;
  }

  .hide-for-landscape,
  .show-for-portrait {
    display: none !important;
  }

  /* Specific visibility for tables */
  table.show-for-landscape, table.hide-for-portrait {
    display: table;
  }

  thead.show-for-landscape, thead.hide-for-portrait {
    display: table-header-group !important;
  }

  tbody.show-for-landscape, tbody.hide-for-portrait {
    display: table-row-group !important;
  }

  tr.show-for-landscape, tr.hide-for-portrait {
    display: table-row !important;
  }

  td.show-for-landscape, td.hide-for-portrait,
  th.show-for-landscape,
  th.hide-for-portrait {
    display: table-cell !important;
  }
}
@media only screen and (orientation: portrait) {
  .show-for-portrait,
  .hide-for-landscape {
    display: inherit !important;
  }

  .hide-for-portrait,
  .show-for-landscape {
    display: none !important;
  }

  /* Specific visibility for tables */
  table.show-for-portrait, table.hide-for-landscape {
    display: table;
  }

  thead.show-for-portrait, thead.hide-for-landscape {
    display: table-header-group !important;
  }

  tbody.show-for-portrait, tbody.hide-for-landscape {
    display: table-row-group !important;
  }

  tr.show-for-portrait, tr.hide-for-landscape {
    display: table-row !important;
  }

  td.show-for-portrait, td.hide-for-landscape,
  th.show-for-portrait,
  th.hide-for-landscape {
    display: table-cell !important;
  }
}
/* Touch-enabled device targeting */
.show-for-touch {
  display: none !important;
}

.hide-for-touch {
  display: inherit !important;
}

.touch .show-for-touch {
  display: inherit !important;
}

.touch .hide-for-touch {
  display: none !important;
}

/* Specific visibility for tables */
table.hide-for-touch {
  display: table;
}

.touch table.show-for-touch {
  display: table;
}

thead.hide-for-touch {
  display: table-header-group !important;
}

.touch thead.show-for-touch {
  display: table-header-group !important;
}

tbody.hide-for-touch {
  display: table-row-group !important;
}

.touch tbody.show-for-touch {
  display: table-row-group !important;
}

tr.hide-for-touch {
  display: table-row !important;
}

.touch tr.show-for-touch {
  display: table-row !important;
}

td.hide-for-touch {
  display: table-cell !important;
}

.touch td.show-for-touch {
  display: table-cell !important;
}

th.hide-for-touch {
  display: table-cell !important;
}

.touch th.show-for-touch {
  display: table-cell !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 2em;
}

.button-wrapper {
  margin: 40px auto;
}

.get-started,
.download {
  border: 1px solid #FFF;
  color: #FFF;
  width: 28%;
  padding: 20px;
  display: inline-block;
  margin: 0 40px;
  text-decoration: none;
  max-width: 200px;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
.get-started:hover, .get-started:focus,
.download:hover,
.download:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.red-button {
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  text-align: center;
  border: 2px solid red;
  padding: 20px;
  margin: auto;
  text-decoration: none;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 101;
}
.red-button:hover, .red-button:focus {
  color: #333333;
  background-color: rgba(255, 255, 255, 0.6);
}

.demo-button {
  width: 28%;
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 0.2);
}
.demo-button:hover, .demo-button:focus {
  color: #303030;
  background-color: rgba(0, 0, 0, 0.3);
}

nav {
  height: 10vh !important;
  color: #F0F0F0;
  background-color: #303030;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  z-index: 105;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #303030;
}
nav ul li {
  display: inline-block;
}
nav ul li a,
nav ul li #mobile-menu {
  text-decoration: none;
  color: #F0F0F0;
  padding: 15px 25px;
  font-size: 1em;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
nav ul li a:hover, nav ul li a:focus,
nav ul li #mobile-menu:hover,
nav ul li #mobile-menu:focus {
  background-color: #D20000;
}

.active {
  background-color: #D20000;
}

#mobile-menu {
  display: none;
  font-size: 2em;
  min-height: 10vh;
  border-bottom: 5px solid red;
  cursor: pointer;
}

.bg-1 {
  background-attachment: fixed !important;
  background-position: center center !important;
  background: url(../img/Contrast_red_bg.png) 0 0 repeat;
  background-size: cover;
  -webkit-background-size: cover;
  position: absolute;
  z-index: 50;
  width: 100vw;
  height: 100%;
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header-text {
  color: #FFF;
  text-align: center;
  position: relative;
  width: 100%;
  min-height: 100%;
  z-index: 100;
}

.header-text h1, .header-text h3 {
  font-family: "Raleway", sans-serif;
  font-size: 5.5em;
  font-weight: 500;
  margin: 0 auto;
  border-top: 6px solid #FFF;
  display: inline-block;
  margin-top: 100px;
  padding-top: 40px;
}

.header-text h3 {
  font-size: 3em;
  border: 0;
  margin-top: 0;
}

/**************/
/****ABOUT*****/
/**************/
#about {
  background-color: #303030;
  width: 100vw;
  color: #F0F0F0;
  height: 100vh;
}
#about p {
  font-size: 1.125em;
}
#about a {
  color: #D20000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#about a:hover, #about a:focus {
  color: #BF0000;
}

.about-wrapper {
  float: left;
  max-width: 686px;
  padding: 40px 40px 0;
}

.logo-wrapper {
  text-align: center;
  float: right;
}

/**************/
/*****DOCS*****/
/**************/
#docs {
  background-color: #FFF;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.hex-wrapper {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  background: url(../img/staticmap.png);
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 90;
}

.hex-wrapper-text {
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 91;
}
.hex-wrapper-text p {
  color: #000;
  font-size: 3em;
  margin: 40px;
}
.hex-wrapper-text a {
  max-width: 200px;
}

/**************/
/*****DEMOS****/
/**************/
#demos {
  color: #F0F0F0;
  background-color: #303030;
  height: 100vh;
}
#demos .demos-text {
  float: left;
  display: inline-block;
  text-align: center;
  padding: 40px;
}
#demos .demos-text a {
  color: #D20000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#demos .demos-text a:hover, #demos .demos-text a:focus {
  color: #BF0000;
}
#demos .demos-text h2 {
  margin: 0 0 40px 0;
  text-align: left;
}
#demos .demos-text p {
  text-align: left;
  font-size: 1.125em;
}

#demos iframe {
  float: right;
  padding: 0 40px;
}

/**************/
/***DOWNLOAD***/
/**************/
#resources .resources-wrapper {
  padding: 40px;
}
#resources h2 {
  margin: 0;
}
#resources p {
  text-align: center;
  font-size: 1.3em;
  margin: 40px auto;
}
#resources p a {
  text-decoration: none;
  color: #D20000;
}

.man,
.rtm,
.pub {
  background: url(../img/manuals-red.png);
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
}

.rtm {
  background: url(../img/download-red.png);
  background-size: 100px 100px;
}

.pub {
  background: url(../img/publications-red.png);
  background-size: 100px 100px;
}

.publications,
.manuals,
.rtmdx {
  display: inline-block;
  text-align: center;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  padding: 10px 0;
}
.publications:hover, .publications:focus,
.manuals:hover,
.manuals:focus,
.rtmdx:hover,
.rtmdx:focus {
  background-color: #F0F0F0;
}
.publications a,
.manuals a,
.rtmdx a {
  color: #000;
  font-size: 1.3em;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  height: 100%;
  padding-bottom: 20px;
}
.publications a:hover, .publications a:focus,
.manuals a:hover,
.manuals a:focus,
.rtmdx a:hover,
.rtmdx a:focus {
  color: #D20000;
}

.icon {
  display: block;
  margin: 30px auto;
}

/**************/
/***PRACTICE***/
/**************/
#in-practice {
  color: #light-grey;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/Contrast_blue_bg.png");
  height: 100vh;
}
#in-practice .in-practice-wrapper {
  padding: 40px;
}
#in-practice .rtm-users img {
  max-height: 200px;
  width: auto;
  margin: auto;
}
#in-practice div {
  background-color: rgba(255, 255, 255, 0.4);
  padding-top: 40px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  overflow: hidden;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}
#in-practice div:hover, #in-practice div:focus {
  filter: none;
  -webkit-filter: grayscale(0%);
}
#in-practice .row {
  background: none;
  color: #FFF;
}

.rtm-users {
  float: left;
  min-height: 300px;
  margin: 0.5%;
  display: inline-block;
  text-align: center;
}

/**************/
/**SUPPORTERS**/
/**************/
.supporters-wrapper {
  padding: 10px;
  width: 100vw;
  text-align: right;
}
.supporters-wrapper h4 {
  float: left;
  margin-right: 5%;
}

.supporter {
  width: 15%;
  float: left;
}
.supporter img {
  max-width: 50px;
  max-height: 50px;
  float: left;
  display: block;
  width: 50%;
}

/**************/
/****CONTACT***/
/**************/
#contact {
  background-color: #303030;
  color: #FFF;
  padding: 40px;
  height: auto;
}
#contact .contact-left {
  float: left;
}
#contact .contact-left ul {
  margin: 0;
  list-style: none;
  line-height: 24px;
  margin-top: 40px;
}
#contact .contact-left a {
  color: #D20000;
  text-decoration: none;
}
#contact .contact-right {
  float: right;
  z-index: 92;
}

#map_canvas {
  height: 200px;
  margin-top: 40px;
  pointer-events: none;
}

.clicked {
  color: #D20000;
}

#gst-header {
  width: 100%;
  color: #303030;
  margin-top: 51px;
  position: relative;
  padding: 40px;
}

#gst-header h1 {
  font-size: 3em;
}

aside {
  float: left;
  margin-bottom: 40px;
}
aside ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
aside ul li a {
  color: red;
  line-height: 30px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 1.3em;
}

aside li:first-of-type {
  font-size: 1.3em;
  margin-bottom: 20px;
  color: #000;
}

main {
  width: 67%;
  float: right;
}
main article {
  padding-top: 20px;
}

#gst-header article p,
#gst-header article ul li,
#gst-header article ol li {
  font-size: 1.3em;
  list-style: decimal;
  margin-left: 40px;
}

#gst-header p.indented {
  margin-left: 60px;
}

#gst-header article p,
#gst-header ul,
#gst-header ol,
#training p,
#training ul,
#training ol {
  margin: 1em 0;
}

.gst_wrapper {
  display: inline-block;
  float: left;
  text-align: center;
  border-right: 2px solid #FFF;
  padding: 40px 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.gst_wrapper a {
  width: 100%;
  text-decoration: none;
  color: #303030;
  display: block;
  font-size: 18px;
}
.gst_wrapper img {
  margin-bottom: 40px;
  width: 200px;
  height: 150px;
  display: block;
  margin: 30px auto;
}

.gst_wrapper:last-of-type {
  border-right: 0;
}

.gst_wrapper:hover,
.gst_wrapper:focus {
  background-color: rgba(255, 0, 0, 0.5);
}

#rtmdx .wrapper {
  margin-top: 80px;
}

#products {
  text-align: center;
  margin: 0 auto;
  width: 100vw;
  padding: 40px 0;
}
#products a {
  color: #000;
  text-decoration: none;
}

#rtmdx-left,
#rtmdx-right {
  float: left;
  border-right: 1px solid #000;
  padding: 0 40px;
  margin-top: 20px;
}

#rtmdx-left p a {
  color: red;
}
#rtmdx-left p a:hover, #rtmdx-left p a:focus {
  color: #D20000;
}

#rtmdx-right {
  float: left;
  border: none;
}

.free,
.paid {
  font-size: 3em;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  display: block;
  border: 2px solid red;
  color: #000;
  margin-bottom: 40px;
}

.more-training {
  margin-top: 40px;
  max-width: 200px;
}

#training {
  padding: 40px;
}
#training #recent-webinars {
  width: 100%;
  height: auto;
  padding-bottom: 40px;
  margin-bottom: 60px;
  border-bottom: 5px solid #000;
}

.web-wrap {
  float: left;
  margin-bottom: 40px;
}
.web-wrap p a {
  color: red;
  text-decoration: none;
  font-size: 100%;
}
.web-wrap p a:hover, .web-wrap p a:focus {
  color: #D20000;
}

.register {
  float: left;
}

#training aside {
  position: static;
  top: auto;
}
#training article {
  padding: 0;
  margin-bottom: 40px;
}
#training article h2 {
  margin-top: 0;
}
#training article a {
  color: red;
  text-decoration: none;
}
#training article a:hover, #training article a:focus {
  color: #D20000;
}
#training article p {
  font-size: 1.3em;
}

.web-wrap a,
.web-wrap p,
.web-wrap h4 {
  font-size: 1.3em;
}

#products h4 {
  font-weight: bold;
  margin-bottom: 20px;
}
