
/**************/
/****ABOUT*****/
/**************/

#about {
  background-color: $dark-grey;
  width: $full-width;
  color: $light-grey;
  padding: $base-padding;
  height: $full-height;
  p {
    font-size: $base-font-size;
  }
  a {
    color: $red;
    text-decoration: none;
    @include transition(all, 0.3s);
    &:hover,
    &:focus {
      color: $dark-red;
    }
  }
}

.about-wrapper {
  float: left;
  max-width: 686px;
}

.logo-wrapper {
  text-align: center;
  float: right;
}

/**************/
/*****DOCS*****/
/**************/

#docs {
  background-color: $white;
  height: $full-height;
  width: $full-width;
  position: relative;
}

.hex-wrapper {
  @include blur(2px);
  background: url(../img/staticmap.png);
  @include background-image;
  text-align: center;
  width: $full-width;
  height: $full-height;
  position: relative;
  overflow: hidden;
  z-index: 90;
}

.hex-wrapper-text {
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  width: $full-width;
  height: $full-height;
  padding-top: $base-padding;
  @include absolute;
  z-index: 91;
  p {
    color: $black;
    font-size: $subheader-font-size;
    margin: $base-margin;
  }
  a {
    max-width: 200px;
  }
}


/**************/
/*****DEMOS****/
/**************/
#demos {
  color: $light-grey;
  background-color: $dark-grey;
  padding: $base-padding;
  height: $full-height;
  .demos-text {
    float: left;
    display: inline-block;
    text-align: center;
    a {
      color: $red;
      text-decoration: none;
      @include transition(all, 0.3s);
      &:hover,
      &:focus {
        color: $dark-red;
      }
    }
    h2 {
      margin: 0 0 $base-margin 0;
      text-align: left;
    }
    p {
      text-align: left;
      font-size: $base-font-size;
    }
  }
}

#demos iframe {
  float: right;
}

/**************/
/***DOWNLOAD***/
/**************/

#resources {
  padding: $base-padding;
  h2 {
    margin: 0;
  }
  p {
    text-align: center;
    font-size: $larger-base-font;
    margin: $base-margin auto;
    a {
      text-decoration: none;
      color: $red;
    }
  }
}

.man,
.rtm,
.pub {
  background: url(../img/manuals-red.png);
  background-size: $background-sizing;
  width: 100px;
  height: 100px;
}

.rtm {
  background: url(../img/download-red.png);
  background-size: $background-sizing;
}

.pub {
  background: url(../img/publications-red.png);
  background-size: $background-sizing;
}

.publications,
.manuals,
.rtmdx {
  display: inline-block;
  text-align: center;
  @include transition(background-color, 0.3s);
  padding: 10px 0;
  &:hover,
  &:focus {
    background-color: $light-grey;
  }
  a {
    color: $black;
    font-size: $larger-base-font;
    text-decoration: none;
    @include transition(all, 0.3s);
    height: 100%;
    padding-bottom: 20px;
    &:hover,
    &:focus {
      color: $red;
    }
  }
}

.icon {
  display: block;
  margin: 30px auto;
}

/**************/
/***PRACTICE***/
/**************/

#in-practice {
  color: #light-grey;
  @include background-image;
  background-image: url("../img/Contrast_blue_bg.png");
  padding: $base-padding;
  height: $full-height;
  .rtm-users img {
    max-height: 200px;
    width: auto;
    margin: auto;
  }
  div {
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: $base-padding;
    @include transition(all, 0.3s);
    overflow: hidden;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
    &:hover,
    &:focus {
      filter: none;
      -webkit-filter: grayscale(0%);
    }
  }
  .row {
    background: none;
    color: $white;
  }
}

.rtm-users {
  float: left;
  min-height: 300px;
  margin: 0.5%;
  display: inline-block;
  text-align: center;
}

/**************/
/**SUPPORTERS**/
/**************/

.supporters-wrapper {
  padding: 10px;
  width: $full-width;
  text-align: right;
  h4 {
    float: left;
    margin-right: 5%;
  }
}


.supporter {
  width: 15%;
  float: left;
  img {
    max-width: 50px;
    max-height: 50px;
    float: left;
    display: block;
    width: 50%;
  }
}


/**************/
/****CONTACT***/
/**************/

#contact {
  background-color: $dark-grey;
  color: $white;
  padding: $base-padding;
  height: auto;
  .contact-left {
    float: left;
    ul {
      margin: 0;
      list-style: none;
      line-height: 24px;
      margin-top: $base-margin;
    }
    a {
      color: $red;
      text-decoration: none;
    }
  }
  .contact-right {
    float: right;
    z-index: 92;
  }
}

#map_canvas {
  height: 200px;
  margin-top: 40px;
  pointer-events: none;
}

// /**************/
// /***DOCSPAGE***/
// /**************/

.clicked {
 color: $red;
}

#gst-header {
 width: 100%;
 color: $dark-grey;
 margin-top: 51px;
 position: relative;
 padding: 40px;
}

#gst-header h1 {
 font-size: $subheader-font-size;
}

aside {
  float: left;
  margin-bottom: $base-margin;
  ul {
   margin: 0;
   list-style: none;
   padding: 0;
   li a {
     color: red;
     line-height: 30px;
     margin-left: 10px;
     text-decoration: none;
     font-size: $larger-base-font;
    }
  }
}

aside li:first-of-type {
  font-size: $larger-base-font;
  margin-bottom: 0.5*($base-margin);
  color: $black;
}

main {
 width: 67%;
 float: right;
 article {
   padding-top: 20px;
  }
}

#gst-header article {
  p, 
  ul li,
  ol li {
    font-size: $larger-base-font;
    list-style: decimal;
    margin-left: $base-margin;
  }
}

#gst-header p.indented {
  margin-left: 1.5*($base-margin);
}

#gst-header article p,
#gst-header ul,
#gst-header ol,
#training p,
#training ul,
#training ol {
  margin: 1em 0;
}

.gst_wrapper {
  display: inline-block;
  float: left;
  text-align: center;
  border-right: 2px solid #FFF;
  padding: 40px 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  a {
    width: 100%;
    text-decoration: none;
    color: #303030;
    display: block;
    font-size: 18px;
   }
  img {
    margin-bottom: 40px;
    width: 200px;
    height: 150px;
    display: block;
    margin: 30px auto;
  }
}

.gst_wrapper:last-of-type {
 border-right: 0;
}

.gst_wrapper:hover,
.gst_wrapper:focus {
 background-color: rgba(255,0,0,0.5);
}



// ************
// /***TRAINING***/
// /**************/

#rtmdx .wrapper {
  margin-top: 2*($base-margin);
}

#products {
  text-align: center;
  margin: 0 auto;
  width: $full-width;
  padding: $base-padding 0;
  a {
   color: #000;
   text-decoration: none;
  }
}

#rtmdx-left,
#rtmdx-right {
 float: left;
 border-right: 1px solid #000;
 padding: 0 $base-padding;
 margin-top: 0.5*($base-margin);
}

#rtmdx-left p a {
 color: red;
 &:hover,
 &:focus {
  color: #D20000;
 }
}

#rtmdx-right {
 float: left;
 border: none;
}

.free,
.paid {
 font-size: $subheader-font-size;
 text-align: center;
 width: 200px;
 margin: 0 auto;
 display: block;
 border: 2px solid red;
 color: $black;
 margin-bottom: $base-margin;
}

.more-training {
 margin-top: $base-margin;
 max-width: 200px;
}

#training {
  padding: 40px;
  #recent-webinars {
    width: 100%;
    height: auto;
    padding-bottom: $base-padding;
    margin-bottom: 1.5*($base-margin);
    border-bottom: 5px solid $black;
  }
}

.web-wrap {
  float: left;
  margin-bottom: $base-margin;
  p a {
    color: red;
    text-decoration: none;
    font-size: 100%;
    &:hover,
    &:focus {
      color: #D20000;
    }
  }
}

.register {
 float: left;
}

#training {
  aside {
   position: static;
   top: auto;
  }
  article {
    padding: 0;
    margin-bottom: 40px;
    h2 {
     margin-top: 0;
    }
    a {
      color: red;
      text-decoration: none;
      &:hover,
      &:focus {
        color: #D20000;
      }
    }
    p {
      font-size: $larger-base-font;
    }
  }
}

.web-wrap a,
.web-wrap p, 
.web-wrap h4 {
  font-size: $larger-base-font;
}

#products h4 {
  font-weight: bold;
  margin-bottom: 0.5*($base-margin);
}



