@mixin anchors {
	text-decoration: none;
}

@mixin lists {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin background-image {
	background-position: center center;
	background-size: cover;
  -webkit-background-size: cover;
  margin: 0 auto;
	padding: 0;
	width: 100%;
  height: 100%;
}

@mixin transition($prop, $time) {
	-webkit-transition: $prop $time ease-out;
    -moz-transition: $prop $time ease-out;
    -o-transition: $prop $time ease-out;
    transition: $prop $time ease-out;
}

@mixin absolute {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin blur($blur) {
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: blur($blur);

}